
/* Set Font For All Pages */
body{
    font-family: 'Courier Prime', monospace;
    background-color: #c0c5ce;
    box-sizing: border-box;
}
hr{
    background-color: #66b2b2;
}

/* Header Styles */
header{
    background-color: #536878;
}
header h1{
    color: #66b2b2;
    font-size: 5em;
    text-align: center;
}
.jumbotron{
    background-color: #536878;
}
.jumbotron h1{
    color: #66b2b2;
}
.nav{
    border-bottom: #66b2b2 1px solid;
}
.nav-link{
    text-decoration: none;
    color: #66b2b2;
}
.nav-link:hover{
    text-decoration: none;
    font-weight: bold;
    background-color: #66b2b2;
    color: #333;
}

/* Footer Styles */
footer{
    background-color: #66b2b2;
    color: #333;
    text-align: center;
    padding: 1em 0;
}

/* Contact Form Submit Button */

.contact-submit{
    background-color: #525e8b;
    color: #b6e8ec;
}
.contact-submit:hover{
    background-color: #41395c;
    color: #b6e8ec;
}
